body{
  background-image: url(moonTear.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container{
  width: 300px;
  height: 400px;
  margin: 20% auto;
}

.img {
  width: 200px;
  height: 200px;
  border: 5px solid #fff;
  -webkit-border-radius: 20px;
   border-radius: 40px;
  overflow: hidden;
  margin-top: 50px;
}

.img:hover {
  cursor: crosshair;
}

.morph {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
   transition: all 1s ease;
}

.morph:hover {
  border: 3px solid #fff;
  /* builds the circle */
   border-radius: 50%;
  -webkit-box-shadow: 0 0 40px rgba(255,255,255,.6), inset 0 0 40px rgba(255,255,255,1);
  -moz-box-shadow: 0 0 40px rgba(255,255,255,.6), inset 0 0 40px rgba(255,255,255,1);
  box-shadow: 0 0 40px rgba(255,255,255,.6), inset 0 0 40px rgba(255,255,255,1);

}
h3 {
  color: white;
  text-align: center;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 2em;
}


.moon{
	position: absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	background:url(planet.svg) no-repeat 50px center;

	/* Chrome still requires the -webkit- prefix */
	-webkit-animation:move 6s linear infinite;
	animation:move 6s linear infinite;

	transition:background-position .8s;
}


@-webkit-keyframes move {
	from {
	  left: 60px;
		top: 0px; 
  }
	to {
	   left: 370px;
  
	}
  
}

@keyframes move {
	from {
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);}
	to {
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
	}
}

.button {
  border-radius: 50%;
  border: none;
  color: white;
  margin: 200px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
